.error-message {
    padding: 0 16px;
    color: tomato;
  }
  
  .success-message {
    padding: 0 16px;
    color: green;
  }

  .link-colors {
    color: #00bcd4;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.4s;
  }
  
  .link-colors:hover {
    color: #1976d2;
  }